An unrecoverable error occurred when the notification system event recorder
attempted to process a message. Please investigate the cause of the problem.

Error: {{.Error}}

Routing Key: {{.RoutingKey}}

Message Body:

{{.MessageBody}}
