{{ template "header" . }}

<p>The analysis <b>{{.analysisname}}</b> is still running and has been running for <b>{{.runduration}}</b>. This is a regularly scheduled courtesy reminder to ensure you don't use up your quota!</p>

<p><b>Analysis launch date:</b> {{.startdate}}</p>
{{if .access_url}}<p><b>Access your VICE analysis:</b> {{.access_url}}</p>{{- end}}
{{ if or (eq .analysisstatus "Completed") (eq .analysisstatus "Failed")}} <p><b>Results folder:</b> <a href="{{.DEOutputFolderLink}}" target="_blank">{{.analysisresultsfolder}}</a></p>{{- end}}

{{ template "footer" . }}
