{{ template "header" . }}

<p>{{.username}} has requested the publication of a new app ({{.appname}}) containing private tools
in the  <a href="{{.DELink}}">{{.environment}}</a>. Please use request ID, <a href="{{.DEPublicationRequestsLink}}" target="_blank">{{.apppublicationrequestid}}</a>,
to track the publication request.</p>


{{ template "footer" . }}


