{{ template "header" . }}

<p>We are notifying you that your app, <a href="{{.DEAppsLink}}" target="_blank" rel="noopener noreferrer">{{.appname}}</a>, has been made available for public use in the <a href="{{.DELink}}" target="_blank" rel="noopener noreferrer">Discovery Environment</a>.</p>

<p>If this app should not be public, please contact <a href="mailto:support@cyverse.org">support</a>.</p>

{{ template "footer" . }}
