{{ template "header" . }}

<p><a href="{{.DEAppsLink}}" target="_blank">{{.app_name}} </a> has been add to the following <a href="{{.DECollectionsLink}}" target="_blank">Collections</a>, which you currently administrate:</p>

{{.CommunityList}}

{{ template "footer" . }}