{{ template "header" . }}

<p>The app <a href="{{.DEAppsLink}}" target="_blank">{{.app_name}}</a>, by {{.app_integrator}}, has been made public.</p>
<p>The app publisher is requesting this app be tagged with the following collections:</p>

{{.CommunityList}}

<p>As a collection administrator, please either accept or reject this request.</p>

{{ template "footer" . }}
