<p>Dear Curator,</p>

<p>We are notifying you that {{.user}} has requested a new
<a href="{{.DEAdminDoiRequestLink}}" target="_blank" rel="noopener noreferrer">{{.request_type}}</a>
Permanent ID for the
<a href="{{.DEDataLink}}{{.path}}" target="_blank" rel="noopener noreferrer">{{.path}}</a>
dataset in the {{.environment}} environment.</p>
