<p>Dear Curator,</p>

<p>The {{.request_type}} Permanent ID has been created for the
{{.path}}
dataset, which has been published in the {{.environment}} environment.</p>

<p>The dataset is available via its landing page at
<a href="https://doi.org/{{.doi}}" target="_blank" rel="noopener noreferrer">https://doi.org/{{.doi}}</a>.</p>

<p>The DataCite API response:</p>
<pre>
{{.api_response}}
</pre>
