{{ template "header" . }}

<p>Thank you for purchasing a {{.SubscriptionLevel}} subscription with CyVerse! We greatly appreciate your
business. Please feel free to contact us at support@cyverse.org if you have any questions or encounter any problems.</p>

<p>Your transaction ID is <strong>{{.TransactionId}}</strong>, your PO number is <strong>{{.PoNumber}}</strong>.</p>

<p>
    Payed with {{.CardType}} ending in {{.CardNumberEnding}}<br />
    Expires {{.CardExpiration}}
</p>

<p>
    Billed to<br />
    <b>{{.BillToName}}</b><br />
    {{.BillToCompany}}<br />
    {{.BillToAddress}}<br />
</p>

{{if .SubscriptionLevel}}
<p>Your ordered subscription tier is <b>{{.SubscriptionLevel}}</b> for <b>{{.SubscriptionPeriod}}</b></p>
<table>
    <tbody>
        <tr>
            <th>Price</th>
            <td>{{.SubscriptionPrice}}</td>
        </tr>
        <tr>
            <th>Start Date</th>
            <td>{{.SubscriptionStartDate}}</td>
        </tr>
        <tr>
            <th>End Date</th>
            <td>{{.SubscriptionEndDate}}</td>
        </tr>
        <tr>
            <th>Quotas</th>
            <td></td>
        </tr>
        {{range .SubscriptionQuotas}}
        <tr>
            <td></td>
            <td>{{.}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{- end}}

{{if .Addons}}
<p><b>Ordered Add-ons</b></p>
<table>
    <thead>
        <tr>
            <th>Add-on</th>
            <th>Quantity</th>
            <th>Unit Price</th>
        </tr>
    </thead>
    <tbody>
        {{range .Addons}}
        <tr>
            <td>{{.Name}}</td>
            <td>{{.Quantity}}</td>
            <td>{{.Price}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{- end}}

<p><b>Order Total: {{.Amount}}</b></p>

{{ template "footer" . }}
