{{ template "header" . }}

<p>Your tool, <a href="{{.DEToolsLink}" target="_blank">{{.toolname}}</a>, is now available in the Discovery Environment, as requested.</p>

<p>Comments from the tool integrator, if any, are below:</p>

{{.comments}}


{{ template "footer" . }}
