{{ template "header" . }}

<p>You have been added to <a href="{{.DETeamsLink}}">{{.team_name}}</a> team. You may remove yourself from this team anytime.</p>
<p>You now have access to this team's shared apps.</p>

{{ template "footer" . }}