You have been added to this team: <a href="{{.DELink}}">{{.TeamName}}</a>.
You now have access to this team's shared apps.
You can also see other members of this team and can remove yourself from this team. 