{{ template "header" . }}

<p>The status of <b>{{.analysisname}}</b> is now {{if eq .analysisstatus "Completed"}} <b style="color: powderblue;">{{.analysisstatus}}</b> {{ else if eq .analysisstatus "Failed" }} <b style="color: red;">{{.analysisstatus}}</b> {{ else }} <b>{{.analysisstatus}}</b> {{- end}}.</p>
<p>
<b>Comments</b>:
{{.analysisdescription}}
</p>
<p><b>Analysis launch date:</b> {{.startdate}}</p>
{{ if or (eq .analysisstatus "Completed") (eq .analysisstatus "Failed")}} <p>Results folder: <a href="{{.DEOutputFolderLink}}">{{.analysisresultsfolder}}</a></p>{{- end}}

{{ template "footer" . }}