{{ template "header" . }}

<p>{{.user}} has requested the publication of a new app ({{.app_name}}) containing private tools
in the $environment$ environment. Please use request ID, <a href="{{.DEPublicationRequestsLink}}">{{.AppPublicationRequestId}}</a>,
to track the publication request.</p>


{{ template "footer" . }}


