{{ template "header" . }}

<p>We are notifying you that your app, <a href="{{.DEAppsLink}}">{{.app_name}}</a>, has been made available for public use in the <a href={{.DELink}}>Discovery Environment</a>.</p>

<p>If this app should not be public, please contact support@cyverse.org.</p>

{{ template "footer" . }}
