{{ template "header" . }}

<p><a href="{{.DEAppsLink}}" target="_blank">{{.app_name}} </a> has been add to the following <a href="{{.DECommunitiesLink}}" target="_blank">Communities</a>, which you currently administrate:</p>

{{.CommunityList}}

{{ template "footer" . }}