{{ template "header" . }}

<a href="{{.DEAppsLink}}">{{.AppName}} </a> has been add to the following communities, which you currently administrate:

<a href="{{.DECommunitiesLink}}">{{.CommunityList}}</a>

{{ template "footer" . }}