{{ template "header" . }}

<p><a href="{{.DEAppsLink}}">{{.app_name}} </a> has been add to the following <a href="{{.DECommunitiesLink}}">Communities</a>, which you currently administrate:</p>

{{.CommunityList}}

{{ template "footer" . }}