{{ template "header" . }}

<p>We are notifying you that your app, <a href="{{.DEAppsLink}}" target="_blank">{{.app_name}}</a>, has been made available for public use in the <a href="{{.DELink}}" target="_blank">Discovery Environment</a>.</p>

<p>If this app should not be public, please contact support@cyverse.org.</p>

{{ template "footer" . }}
