{{ template "header" . }}

<p>Your app, {{.app_name}}, has been deprecated in the <a href={{.DELink}}>Discovery Environment</a>.
This usually happens when a newer version of the app is made publicly available in the <a href={{.DELink}}>Discovery Environment</a>.
The deprecated app is still viewable by its direct link (below), but it will no longer be found via Search 
nor can it be launched in the <a href={{.DELink}}>Discovery Environment</a>.</p>
 
<p>If this app should not have been deprecated, please contact support@cyverse.org.</p>

{{ template "footer" . }}
