{{ template "header" . }}

We are notifying you that your app, {{.AppName}}, has been made available for public use in the Discovery Environment.

If this app should not be public, please contact support@cyverse.org.

{{ template "footer" . }}
