{{ template "header" . }}

The app {{.AppName}}, by $app_integrator$, has been made public.
The app publisher is requesting this app be tagged with the following communities:

{{CommunityList}}

As a community administrator, please either accept or reject this request.

{{ template "footer" . }}
