{{define "footer"}}
<footer>
Best <br/>
Team CyVerse
<br/>
<a href="www.cyverse.org"><img class="icons"src="https://cyverse.org/sites/default/files/cyverse_logo.png" /></a>
</footer>
</div>
</div>
</body>
</html>
{{end}}