{{define "footer"}}
  <p>Best,
      Team CyVerse</p>
  </div>
  <div class="row">
    <div class="rounded bottomDiv col flex-col d-flex">
      <div class="col-content">
        <h3>Expand your CyVerse Universe</h3>
        <p>Learn more about various CyVerse services in Cyverse Learning Center.</p>
        <div class="d-flex justify-content-around">
          <a href="https://cyverse.org/learning" target="_blank" class="btn btn-outline-light align-self-end" type="button">Go to CyVerse Learning</a>
        </div>
      </div>
    </div>

    <div class="rounded bottomDiv col d-flex flex-col">
      <div class="col-content">
        <h3>Join CyVerse Events</h3>
        <p>Find information about our upcoming workshops and webinars.</p>
        <div class=" d-flex justify-content-around">
          <a href="https://cyverse.org/events" target="_blank" class="btn btn-outline-light align-self-end" type="button">Go to Events</a>
        </div>
      </div>
    </div>
    <div class="rounded bottomDiv col flex-col d-flex">
      <div class="col-content">
        <h3>Catch up on the latest</h3>
        <p>Read how educators and researchers at all levels use CyVerse to empower and drive science forward with collaboration.</p>
        <div class="justify-content-around d-flex ">
          <a href="https://cyverse.org/news" target="_blank" class="btn btn-outline-light align-self-end" type="button">Go to News</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="center mt">
  <a href="https://user.cyverse.org/" target="_blank"> <button type="button" class="cyverse-blue bottomButton"> Manage My Account</button></a>
  <a href="https://de.cyverse.org" target="_blank"> <button type="button" class="cyverse-blue bottomButton"> Discovery Environment</button></a>
  <a href="https://de.cyverse.org" target="_blank"> <button type="button" class="cyverse-blue bottomButton"> Data Store</button></a>
  <a href="https://bisque.cyverse.org/client_service/" target="_blank"> <button type="button" class="cyverse-blue bottomButton"> BisQue Image Analysis</button></a>
  <a href="https://dnasubway.cyverse.org" target="_blank"> <button type="button" class="cyverse-blue bottomButton"> DNA Subway</button></a>
  <a href="https://cyverse.org/Science-APIs" target="_blank"> <button type="button" class="cyverse-blue bottomButton"> Science APIs</button></a>
</div>
<div class="center mt">
  <a href="https://twitter.com/CyVerseOrg" target="_blank"><img src="https://cyverse.org/sites/default/files/inline-images/social_icon-01.png" class="icon" alt="twitter"/></a>
  <a href="https://www.facebook.com/CyVerse.org/" target="_blank"> <img src="https://cyverse.org/sites/default/files/inline-images/social_icon-02.png" class="icon" alt="facebook" /></a>
  <a href="https://www.youtube.com/channel/UC-gvdjTz9rq6RovZ57LoDDA/featured" target="_blank"><img src="https://cyverse.org/sites/default/files/inline-images/social_icon-03.png" class="icon" alt="youtube"/></a>
  <a href="https://www.linkedin.com/company/cyverse.org/" target="_blank"> <img src="https://cyverse.org/sites/default/files/inline-images/social_icon-04.png" class="icon" alt="linkedin" /> </a>
  <a href="https://github.com/cyverse/" target="_blank"> <img src="https://cyverse.org/sites/default/files/inline-images/social_icon-05.png" class="icon" alt="github"/></a>
</div>
<div class="cyverse-blue center mt">
  CyVerse © 2021
</div>
</body>
</html>
{{end}}