{{define "footer"}}
 <p>Best <br />
    Team CyVerse
</div>  
      
      <br />
      <div class="container">
        <div class="rounded cyverse-blue-bg bottomDiv">
          <h3>Expand your CyVerse Universe</h3>
          <p>Learn more about various CyVerse services in Cyverse Learning Center.</p>
          <div class="d-flex justify-content-around">
            <button class="btn btn-outline-light" type="button">Go to CyVerse Learning</button>
          </div>
        </div>
        <div class="rounded cyverse-silver-bg  bottomDiv">
          <h3>Join CyVerse Events</h3>
          <p>Find information about our upcoming workshops and webinars.</p>
          <div class="justify-content-around">
            <button class="btn btn-outline-secondary" type="button"> Go to Events</button>
          </div>
        </div>
      <div class="rounded cyverse-blue-bg bottomDiv">
        <h3>Catch up on the latest</h3>
        <p>Read how educators and researchers at all levels use CyVerse to empower and drive science forward with collaboration.</p>
        <div class="justify-content-around">
          <button class="btn btn-outline-secondary" type="button">Go to News</button>
        </div>
      </div>
  </div>
</div>
<div class="center">
  <a href="https://de.cyverse.org" target="_blank"> <button type="button" class="cyverse-blue bottomButton"> Manage My Account</button></a>
  <a href="https://de.cyverse.org" target="_blank"> <button type="button" class="cyverse-blue bottomButton"> Discovery Environment</button></a>
  <a href="https://de.cyverse.org" target="_blank"> <button type="button" class="cyverse-blue bottomButton"> Data Store</button></a>
  <a href="https://de.cyverse.org" target="_blank"> <button type="button" class="cyverse-blue bottomButton"> BisQue Image Analysis</button></a>
  <a href="https://de.cyverse.org" target="_blank"> <button type="button" class="cyverse-blue bottomButton"> DNA Subway</button></a>
  <a href="https://de.cyverse.org" target="_blank"> <button type="button" class="cyverse-blue bottomButton"> Science APIs</button></a>
</div>
<div class="cyverse-blue center">
  CyVerse © 2021
</div>
</div>
</body>
</html>
{{end}}