{{define "header"}}
<html>
<head>
<style>
body {
  width:100%;
  font-family: Roboto;
  }
  * { box-sizing: border-box;}
  
.title {
    font-size: 26px;
    color:#0971ab;
}
.content {
    padding: 24px;
    width: 90%;
    margin:8px;
    align-content:center;
    justify-content:center;
}
.icons {
    margin:8px;
    width:150px;
}
hr.divider {
    border-top: .25px solid #097ab;
    opacity:.2;
}

 .cyverse-blue-bg {
      background-color: #0971ab;
      color: #ffff;
    }

    .cyverse-silver-bg {
      background-color: #e2e2e2;
      color: #48515f;
    }

    .cyverse-blue {
      color: #0971ab;
    }

    .cyverse-red {
        color: #AF0404;
    }

    .cyverse-green {
        color: #7CB342;
    }

    .cyverse-silver {
        color: #e2e2e2;
    }

    .cyverse-grey {
        color: #48515f;
    }

    .rounded {
         border-radius: 3px;
    }

    .container {
     display: flex;
    }

    .top-div {
  margin: 8px;
  padding: 8px;
  flex-grow: 1;
  width: 100% 
}
.top-center-div {
  flex-grow: 1;
}

    .bottomDiv {
        margin: 8px;
        padding: 8px;
        flex-grow: 1;
    }

    .bottomButton {
        padding: 0;
        border: none;
        background: none;
        outline: none;
        margin: 8px;
        text-decoration-line: underline;
        cursor: pointer;
    }

    .center {
        margin: auto;
        text-align: center;
    }

</style>

</head>
<body>
<div class="container">
  <div class="top-div"><a href="www.cyverse.org"><img class="icons" src="https://cyverse.org/sites/default/files/cyverse_logo.png" /></a></div>
  <div class="top-div top-center-div"></div>
  <div class="top-div">
    <a href="https://de.cyverse.org/"><img class="logo" src="https://cyverse.org/sites/default/files/inline-images/de_icon.png" /></a>
    <span class="title">Discovery Environment</span>
  </div>
</div>
  <div class="content">
<p>Hi {{.user}}</p>
{{end}}