{{ template "header" . }}

Your {{.RequestType}} Permanent ID Request was successfully submitted.
Your data set has been moved to {{.Path}} for administrative review.
You will receive notifications in the Discovery Environment as the request process proceeds.

{{ template "footer" . }}


