
<p>Dear Curator,</p>
<p>The {{.request_type}} Permanent ID has been created for the
{{.path}}
dataset, which has been published in the {{.environment}} environment.</p>
<p>The identifier(s) created is:</p>
{{.identifiers}}

<p>The dataset is available via its landing page at <a link="https://doi.org/{{.doi}}">DOI</a>.</p>
