{{ template "header" . }}

<p>Your {{.request_type}} Permanent ID Request was successfully submitted.</p>
<p>Your data set has been moved to {{.path}} for administrative review.</p>
<p>You will receive notifications in the <a href={{.DELink}}>Discovery Environment</a> as the request process proceeds.</p>

{{ template "footer" . }}


