
Dear Curator,
The {{.RequestType}} Permanent ID has been created for the
{{.Path}}
dataset, which has been published in the {{.Environment}} environment.
The identifier(s) created is:
{{.Identifiers}}

The dataset is available via its landing page at https://doi.org/{{.Doi}}.
