{{ template "header" . }}

<p>{{.update_message}}</p> {{if .DEAppsLink}}<p>Access VICE apps <a href="{{.DEAppsLink}}" target="_blank">here</a>.</p>{{- end}}

<p><b>Request Details:</b></p>

<pre>
{{.request_details}}
</pre>

{{ template "footer" . }}