{{ template "header" . }}

<p>Your <b>{{.request_type}}</b> request has been <span class="cyverse-red">denied</span>.</p>

<p><b>Reason for denial:</p></b>
{{.update_message}}

<p><b>Request Details:</b></p>

<pre>
{{if .ConcurrentJobs}}<p><b>Concurrent Jobs</b>: {{.ConcurrentJobs}}</p>{{- end}}
{{if .UseCase}}<p><b>Use Case</b>: {{.UseCase}}</p>{{- end}}
</pre>

{{ template "footer" . }}

