Dear Team Administrator,

{{.RequesterName}} ({{.RequesterEmail}}) has requested to join the team {{.TeamName}}.

Here is the requester's message:

{{.RequesterMessage}}

Please log in to the DE to check your notifications; you may approve or deny this request by clicking on the corresponding notification.
