{{ template "header" . }}

Team CyVerse is currently installing your tool, {{.ToolName}}. You will receive
email updates and notifications in the Discovery Environment as the evaluation
and installation processes proceed.

{{.Comments}}

{{ template "footer" . }}
