{{ template "header" . }}

<p>Team CyVerse is currently validating your tool, {{.toolname}}. You will receive
email updates and notifications in the <a href={{.DELink}}>Discovery Environment</a> as the evaluation
and installation process proceeds.</p>

{{.comments}}

{{ template "footer" . }}
