{{ template "header" . }}

Team CyVerse is currently validating your tool, {{.ToolName}}. You will receive
email updates and notifications in the Discovery Environment as the evaluation
and installation process proceeds.

{{.Comments}}

{{ template "footer" . }}
