{{ template "header" . }}

<p>The CyVerse team is waiting for more information regarding your request to
install {{.toolname}}. Please see the comments below:</p>

{{.comments}}

{{ template "footer" . }}
