{{ template "header" . }}

<p>We have received your request to have {{.toolname}} installed. You will receive email
updates and notifications in the <a href={{.DELink}}>Discovery Environment</a> as the evaluation and
installation process proceeds.</p>

{{ template "footer" . }}