{{ template "header" . }}

We have received your request to have {{.ToolName}} installed. You will receive email
updates and notifications in the Discovery Environment as the evaluation and
installation process proceeds.

{{ template "footer" . }}